@import url(https://an2-ast.amz.wtchn.net/fonts/pretendard/pretendard-subset.css);html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}
@charset "UTF-8";
.admin_wrap{
	width: 100%;
}

body {
    margin: 0
	}

@font-face {
    font-display: block;
    font-family: Watcha Glyphicons;
    font-style: normal;
    font-weight: 400;
    src: url(https://d143hdk68p1xtj.cloudfront.net/fonts/watcha-glyphicons.woff) format("woff"),url(https://d143hdk68p1xtj.cloudfront.net/fonts/watcha-glyphicons.ttf) format("ttf")
}

html {
    font-family: Pretendard,Apple SD Gothic Neo,Nanum Gothic,Malgun Gothic,sans-serif
}

body,html {
    background: var(--color-black);
    color: var(--color-white);
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: block
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    text-decoration: none;
    color: var(--color-white);
    outline: var(--color-black);
    text-decoration: none;
}


img {
    border-style: none
}

textarea {
    overflow: auto
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

button,input[type=button],input[type=submit] {
    -moz-appearance: initial;
    appearance: none;
    background: none;
    border: 0 transparent;
    cursor: pointer;
    outline: 0 none;
    padding: 0
}

.admin_move{
	margin: 0 auto;
}




h1 {
    font-size: 2em;
    margin: .67em 0
}

h1,h2,h3,h4,h5,h6 {
    font-weight: var(--font-weight-bold)
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0
}



ol,ul {
    list-style-type: none;
    margin: 0;
    margin-block:0 0;margin-inline:0;padding: 0;
    padding-inline-start:0
}

/*링크 호버시 글씨 굵게-나중에 수정해도 됨*/
a:hover{
	font-weight: bold;
	color: var(--color-white);
}


/* float 속성 해제 */
.clearfix{
	clear: both;
}