@charset "UTF-8";

*{margin: 0; padding:0;}
a{text-decoration: none;}
ul{list-style: none;}

/*링크 호버시 글씨 굵게-나중에 수정해도 됨*/
a:hover{ font-weight: bold;}
a:link{color:black;}
a:visited{color:black;}
a:active{color:black;}
a:hover{color:black;}

.admin_wrap{
	width: 100%;

}
.wrapper{
	width: 1280px;
	margin: 0 auto;
}

.admin_move{
	margin: 0 auto;
}


/* 홈페이지 기능 네비 */ 
.top_gnb_area{
    width: 100%;
    height: 50px;
    background-color: #f0f0f1;
    position:relative;
}
.top_gnb_area .list{
    position: absolute;
    /* width:907px; */
    margin: 0 auto; 
    top: 0px;
    right: 0;
    
}
.top_gnb_area .list li{
    list-style: none;    
    float : left;
    padding: 13px 15px 0 10px;
    font-weight: 900;
    cursor: pointer;
}
.nav_wrap{
	width: 20%;
	height: 300px;
	float:left;
}
.nav_wrap div{
    display: block;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
.nav_wrap div a{
    display: block;
    height: 100%;
    width: 95%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}




/* float 속성 해제 */
.clearfix{
    clear: both;
}