@charset "UTF-8";
@import url(/resources/css/basic/style.css);  

/*기본 배경 설정 */
*{
	margin:0;
	padding:0;
}   
/*스타일 변형 제거*/
a {
	text-decoration: none;
}
ul, li {
	list-style:none;
}
input {
	margin-right: 6px;
}
/*내용 가운데로 */ 
#container {
	width: 100%;
	min-width: 1900px;
	height: 100%;
	background-color: #000000;
}
.middle_wrap {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sub_wrap{
	min-width: 320px;
	padding-top: 56px;
	padding-bottom: 20px;
	overflow: hidden;
	margin: 0 auto;
}

header.logo {
	display: block;
	padding: 24px 0 0 26px; 
}
header.logo img {
	width: 95px;
	height: 26px;
}
.tit_wrap {
	margin-bottom:26px;
}
h1.main_tit {
	margin: 0 0 10px;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 0;
	color: #ffffff;
}
h2.sub_tit {
	position:relative;
	z-index: 2;
	font-size: 15px;
	font-weight: normal;
	line-height: 20px;
	letter-spacing: 0;
	color: #babac1;
	padding-bottom: 5px;
}
.main_content {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.bp {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-right: 12px;
}

.bp:hover {
	border: 2px solid #DE2A60;
	color: #DE2A60;
	border-radius: 5px;

}
.main_content ul {
	position: relative;
	width: 100%;
	text-align: center;

}
ul.pink{
	color: #babac1;
	background-color: #191A1C;
	padding: 12px 0 14px;
	border-radius: 8px 8px 0 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width:320px;
	height: 40px;
}
ul.pink li {
	display: flex;
	text-align: center;
	padding-left: 5px; 
}
li.up{
	display: flex;
	justify-content: space-around;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
}

input.grade{
	font-weight: 600;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: 0;
	color :#ffffff;
}
span.price {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0;
	color :#ffffff;
}
ul.grade {
	width: 100%;
	padding: 16px 0 38px;
	color: #ffffff;
	border: 1px solid #191A1C;
	border-top: 0;
	border-radius: 0 0 8px 8px;
}
ul.grade li {
	position: relative;
	margin-bottom: 42px;
	white-space: pre-wrap;
}
.hd {
	display: flex;
	justify-content: center;
}
.hd img {
	display: inline-block;
	width: 120px;
	height: 54px;
	object-fit:fill;
}
img.x {
	width: 55px;
	height: 55px;
}
span.hd {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 15px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0;
	color: #babac1;
}
p.explain {
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0;
	color: #babac1;
	padding-top: 5px;
}
label.tit{
	margin: 0 0 12px;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #ffffff;
}
.month_wrap {
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-top: 15px; 
}
.month_wrap ul{
	position: relative;
}
.month_wrap ul li {
	margin-bottom: 8px;
	display: flex;
	align-items: center;
	min-height: 45px;
	padding: 12px 12px;
	border: 1px solid #191A1C;
	border-radius: 8px;
	width: 100%;
	color: #babac1;
	font-size: 18px;
}

#selectedPrice {
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
}
input.mon {
	display: flex;
	justify-content: flex-end;
	color:#ffffff;
	font-weight: bold;
	line-height: 24px;
	letter-spacing: 0;
}
.pay_wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
}
.pay_tit {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	color: #ffffff;
}
ul.payment {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #babac1;
	border: 1px solid #191A1C;
}
ul.payment li {
	padding: 10px;
	font-size: 16px;
	font-weight: 500;
}

.check_list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 20px;
}
p.ck1 {
	font-size: 18px;
	font-weight: bold;
	line-height: 23px;
	letter-spacing: 0;
	color: #ffffff;
	padding-bottom: 5px;
}
p.ck2 {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0;
	color: #babac1;
}
.paybtn_wrap {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
}
button.sbtn {
	border: 1px solid #f82f62;
	background-color: #f82f62;
	border-radius: 6px;
	margin-right: 7px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	width: 320px;
	height: 55px;
	cursor: pointer;
}

input.grade:checked + ul.pink {
	background-color: #F82F62;
	color: #ffffff;
}
input.grade:checked + ul.grade {
	border-color:  #f82f62;
}

/*기본스타일을 없애고, 버튼모양을 구현한다.*/
input[type='radio'] {
  -webkit-appearance: none;     /*웹킷 브라우저에서 기본 스타일 제거*/
  -moz-appearance: none;      /*모질라 브라우저에서 기본 스타일 제거 */
  appearance: none;     /*기본 브라우저에서 기본 스타일 제거*/
  width: 16px;
  height: 16px;
  border: 1.5px solid #ccc;   /*체크되지 않았을 때의 테두리 색상*/
  border-radius: 50%;
  outline: none; 			/*focus 시에 나타나는 기본 스타일 제거*/
  cursor: pointer;
  vertical-align: middle;
}

/*체크될 시에, 변화되는 스타일 설정*/
input[type='radio']:checked {
  background-color: #F82F62;       /*체크 시 내부 원으로 표시될 색상*/
  border: 3px solid white;       /*테두리가 아닌, 테두리와 원 사이의 색상*/
  box-shadow: 0 0 0 1.6px #F82F62;     /*얘가 테두리가 됨*/
 /*그림자로 테두리를 직접 만들어야 함 (퍼지는 정도를 0으로 주면 테두리처럼 보입니다.)
 그림자가 없으면 그냥 설정한 색상이 꽉 찬 원으로만 나옵니다.*/
}