@charset "UTF-8";
@import url(../style.css);

/*기본 배경 설정 */
*{
	margin:0;
	padding:0;
}   
/*스타일 변형 제거*/
a {
	text-decoration: none;
}
ul, li {
	list-style:none;
}
/*내용 가운데로 */ 
#container {
	width: 1900px;
	height: 866px;
	margin: 0 auto;
	background-color: #000000;
}
.sub_wrap {
	position: relative;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	padding-top: 56px;
	padding-bottom: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

