@charset "UTF-8";
@import url(style.css);

/*기본 배경 설정 */
*{
	margin:0;
	padding:0;
}   
/*스타일 변형 제거*/
a {
	text-decoration: none;
}
ul, li {
	list-style:none;
}
#container {
	background-color: #000000;
	width: 1900px;	
	margin: 0 auto;
}
.logoo {
	top: 20px;
	left: 30px;
	position: absolute;
}
img.loogg {
	width: 120px;
	height: 38px;
}
.pur_wrap {
	width: 700px;
	height: 100%;
	margin: 0 auto;
}
#movie_move {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 35px;
}
.subh {
	width: 100%;
	display:flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
}
h1.contents {
	color: #ffffff;
	font-weight: 600;
	font-size: 30px;
}
h2 {
	text-align: left;
	color: #ffffff;
	font-weight: 700;
	font-size: 28px;
	padding-bottom: 10px;
}
.content_main {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
}
.pst_img img {
	width: 200px;
	height: 280px;
}
dl {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding-left: 6px;
	height: 280px;
}
dd.alone {
	border: 1px solid #38393D;
	border-radius: 5px;
	background-color: #303133;
	color: #605F70;
	font-size: 16px;
	padding: 2px 3px;
	font-weight: 500;
}
dt {
	font-size: 22px;
	font-weight: 700;
	padding-top: 140px;
	padding-bottom: 10px;
	color: #ffffff;
}
dd{
	font-size: 16px;
	color: #605F70;
	padding-bottom: 4px;
}
.price_section {
	border: 1px solid #1B1C1D;
	border-radius: 8px;
	padding: 4px 2px;
	width: 700px;
	margin-bottom: 20px;
}
.price_section ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-button: 2px;
}
.price_section ul li{
	font-size: 15px;
	color: #ffffff;
	padding-left: 15px;
	padding-top: 8px;
	font-weight: 500;
}
p.explain {
	font-size: 13px;
	color: #BABAC1;
	font-weight: 300;
	padding: 6px 0 8px 15px; 
}
li.j {
	padding-right: 0.5px;
}
.way_buy {
	border: 1px solid #1B1C1D;
	border-radius: 8px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 20px;
	width: 700px;
}
.way_buy ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 6px 0 6px 15px;
}
ul.how {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
ul.how li {
	padding-bottom: 6px;
	font-size: 20px;
}
.way_buy ul li {
	font-size: 16px;
	color: #84868D;
	font-weight: 600;
}
.way_buy ul li:active {
	color:#ffffff;
}
.pway_wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.way_buy {
	font-size: 20px;
	color: #84868D;
	font-weight: 600;
}
.way_buy input:active {
	color:#ffffff;
}
.price_info {
	margin: 5px 0;
	border: 1px solid #1B1C1D;
	border-radius: 8px;
	padding: 10px 0 3px 15px;
	width: 700px;
}
.price_info ul {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.price_info ul li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	padding-bottom: 7px;
}
#contentPrice {
	font-size: 16px;
	color:#ffffff;
	font-weight: 400;
}
#totalAmount {
	font-size: 24px;
	font-weight: 600;
	color: #ffffff;
}
.btn_buy {
	display: block;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}
button.sbtn {
	font-size: 18px;
	font-weight: 600;
	color: #84868D;
	border: 1px solid #505155;
	color: #999CA1;
	border-radius: 6px;
	background-color: #505155;
	margin-bottom: 15px;
	width: 715px;
	height: 50px;
}
button.sbtn:hover{
	color:#ffffff;
	background-color: #F82F62;
	border: 1px solid #F82F62;
}

/*기본스타일을 없애고, 버튼모양을 구현한다.*/
input[type='radio'] {
  -webkit-appearance: none;     /*웹킷 브라우저에서 기본 스타일 제거*/
  -moz-appearance: none;      /*모질라 브라우저에서 기본 스타일 제거 */
  appearance: none;     /*기본 브라우저에서 기본 스타일 제거*/
  width: 16px;
  height: 16px;
  border: 1.5px solid #ccc;   /*체크되지 않았을 때의 테두리 색상*/
  border-radius: 50%;
  outline: none; 			/*focus 시에 나타나는 기본 스타일 제거*/
  cursor: pointer;
  vertical-align: middle;
}

/*체크될 시에, 변화되는 스타일 설정*/
input[type='radio']:checked {
  background-color: #F82F62;       /*체크 시 내부 원으로 표시될 색상*/
  border: 3px solid white;       /*테두리가 아닌, 테두리와 원 사이의 색상*/
  box-shadow: 0 0 0 1.6px #F82F62;     /*얘가 테두리가 됨*/
 /*그림자로 테두리를 직접 만들어야 함 (퍼지는 정도를 0으로 주면 테두리처럼 보입니다.)
 그림자가 없으면 그냥 설정한 색상이 꽉 찬 원으로만 나옵니다.*/
}
.writing {
	margin-top: 50px;
	margin-bottom: 50px;
}
ul.con_list {
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 15px;
}
ul.con_list li{
	list-style: circle;
	font-size: 12px;
	color: #9D9BA6;
	padding-bottom: 4px;
}