@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
a {
	text-decoration: none;
}
h1 {
	color: #ffffff;
	font-size: 50px;
	font-weight: 600px;
}
#container{
	width: 1900px;
	background-color: #000000;
}
.wrap {
	width: 1660px;
	margin:auto;
}
header {
	width: 1660px;
	height: 55px;
	position:fixed;
	background-color: #141517;
}
.login_area a{
	color: #ffffff;
	font-size: 15px;
}
.join_button {
	width: 68px;
	height: 32px;
	background-color: #f82f62;
	border: 1px solid #f82f62;
	border-radius: 20px;
}
nav {
	width: 240px;
	height: 100%;
	background-color: #141517;
	border: 2px solid white;
}
.main_content{
	width: 1660px;
	height: 100%;
	background-color: yellow;
}
footer {
	width: 1660px;
	height: 320px;
	background-color: green;
}
