@charset "UTF-8";
@import url(/resources/css/basic/style.css);  
/*화면 전체 필요없는 공백 제거*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
}
#container {
	width:100%;
	height: 100%;
	min-width: 1900px;
	min-height: 800px;
	margin: 0 auto;
	background-color: #000000;
}
.my{
	right:0;
}
.my_wrap{
	position: relative;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	padding-top: 250px;
	padding-bottom: 340px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 215px;
}
.sub {
	width: 780px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}
.sub h1{
	font-size: 45px;
	font-weight: 500;
	color: #ffffff;
}
.inf_wrap {
	border: 2px solid #1B1B1C;
	border-radius: 4px;
	margin-bottom: 10px;
	width: 780px;
	background-color: #121314;
}
fieldset.buy{
	height: 150px;

}
fieldset.own{
	height: 100px;
}
legend{
	background-color: #1B1B1C;
	border-radius: 4px;
	width: 780px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
span.mtit {
	font-size: 18px;
	color: #A4A4A4;
	padding-left: 10px;
	font-weight: 500;
}
nav.mine {
	display: flex;
	flex-direction: column;
	padding: 10px 20px 10px 10px;
}
ul.p_info, ul.final_date{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;	
}
li.mm {
	width: 450px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	line-height: 18px;
}
span.sub_tt {
	font-size: 16px;
	color: #ffffff;
	font-weight: 400;
}
input{
	border:none;
	background-color: #121314;
	color:#ffffff;
	text-align: center;
}
span.sub_type{
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
}

button.pbtn{
	border:none;
	background-color: transparent;
	font-size: 16px;
	font-weight: 500;
	color: #E92F62;
	cursor: pointer;
}
input.mail {
	font-size: 16px;
}
.ask_button_wrap {
	margin-top: 30px;
}
a.ask_btn{
	color: #ffffff;
	text-align: center;
	font-size: 22px;
	font-weight: 500;
	background-color: #F82F62;
	border: 1px solid #F82F62;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 100px;
}