@charset "UTF-8";
@import url(style.css);
/*화면 전체 필요없는 공백 제거*/
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
}
#container {
	width: 1900px;
	height: 866px;
	margin: 0 auto
}
.sign_wrap{
	width: 100%;
	background-color: #000000;
}
.member_h {
	height: 72px;
	padding: 15px 50px;
	top:0;
	position: fixed;
	z-index: 500;
	width: 100%;
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.login_button a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #babac1;
	border-radius: 5px;
	letter-spacing: -0.4px;
	padding: 6px 12px;
	cursor:pointer;
}
/*메인*/
.s_content{
	position: relative;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	padding-top: 250px;
	padding-bottom: 340px;
}
h1 {
	color: #ffffff;
	font-size: 26px;
	display: block;
	align-items: center;
	font-weight: 700;
	justify-content: center;
	margin: 10px 40px;
}
ul.sign{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width:310px;
}
.mail_wrap {
	width: 310px;
}
input.sinput {
	background-color: #191a1c;
	border:1px solid #e73e3e;
	display:block;
	width: 310px;
	height: 48px;
	caret-color: #f82f62;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 20px;
	padding: 13px 11px;
	margin-bottom: 5px;
}
.mail_check{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}
input.mail_ckinput {
	background-color: #191a1c;
	border:1px solid #e73e3e;
	display:block;
	width: 200px;
	height: 48px;
	caret-color: #f82f62;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 20px;
	padding: 13px 11px;
}
.mail_button{
	width: 115px;
	height: 48px;
	display:block;
	background-color: #404248;
	border-radius: 4px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0;
	line-height: 20px;
	padding: 12px 2px;
	margin-left: 5px;
	text-align: center;
}
input.sign_button{
	background-color: #505155;
	color:#999CA1;
	width: 310px;
	height: 48px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 20px;
	padding: 13px 11px;
	margin-bottom: 5px;
}
p.cnt {
	color:rgb(132, 134, 141);
	text-align: center;
	font-size: 11px;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 16px;
}
.mail_wrap, .birth_wrap{
	margin-bottom: 10px;
}
/*footer*/
.s_footer{
	width: 100%;
	bottom: 5px;
	position:absolute;
	padding: 0 15px;
	z-index: 100;
	right: 0;
	left: 0;
}
.s_content{
	display:flex;
	justify-content: center;
	text-align: center;

}
p.line1, p.line2 {
	color: #84868d;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0px;
	line-height: 18px;
	text-align: center;
	
}
span.e1{
	font-weight: 600;
	color: #ffffff;
}
span.e2{
	font-weight: 500;
	text-decoration: underline;
}
.warn_mail {
    color: red;
	display: none;
}

.mail_check_input_warn {
	color: red;
	display: none;
}

.warn_pw {
	color: red;
	display: none;
}

.warn_pwck {
	color: red;
	display: none;
}

.warn_ubirth {
	color: red;
	display: none;
}

.mail_type_ck {
	color: red;
	display: none;
}