<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvp.mapper.AdminMapper">

      <insert id="movieInsert" parameterType="com.mvp.model.MovieVO">
          insert into movie(movieTitle, poster, movieContent, movieUrl, cate1, cate2, movieCheck, buyPrice, rentalPrice, movieDate) values(#{movieTitle}, #{poster}, #{movieContent}, #{movieUrl}, #{cate1}, #{cate2}, #{movieCheck}, #{buyPrice}, #{rentalPrice}, #{movieDate})
          
      </insert>
      
      <!-- 영화 목록 -->
      <select id="movieList" resultType="com.mvp.model.MovieVO">
      
	      <![CDATA[
	          select * from (
	              select /*+INDEX_DESC(movie SYS_C008625) */ 
	                  rownum as rn, movieId, movieTitle, cate1, movieDate, movieCheck
	            from movie 
	            where
	             
	      ]]>         
	            <if test="keyword != null">
	                movieTitle like '%'||#{keyword}||'%' and
	            </if>
	            
	      <![CDATA[        
	             rownum <= #{pageNum}*#{amount}
	            )
	        where rn > (#{pageNum} - 1) * #{amount}
	      ]]>
      
      </select>
      
      <select id="getMovieTotal" resultType="int">
      
          select count(*) from movie
          
          <if test="keyword != null">
          
             where movieTitle like '%' || #{keyword} || '%'
          
          </if>
          
      </select>


</mapper>