<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvp.mapper.AdminMapper">

      <insert id="movieInsert" parameterType="com.mvp.model.MovieVO">
          insert into movie(movieTitle, poster, movieContent, movieUrl, cate1, cate2, movieCheck, buyPrice, rentalPrice, movieDate) values(#{movieTitle}, #{poster}, #{movieContent}, #{movieUrl}, #{cate1}, #{cate2}, #{movieCheck}, #{buyPrice}, #{rentalPrice}, #{movieDate})
      </insert>
      
      <!-- 영화 목록 -->
      <select id="movieList" resultType="com.mvp.model.MovieVO">
      
	      <![CDATA[
	          select * from (
	              select /*+INDEX_DESC(movie SYS_C008625) */ 
	                  rownum as rn, movieId, movieTitle, cate1, movieDate, movieCheck
	            from movie 
	            where
	             
	      ]]>         
	            <if test="keyword != null">
	                movieTitle like '%'||#{keyword}||'%' and
	            </if>
	            
	      <![CDATA[        
	             rownum <= #{pageNum}*#{amount}
	            )
	        where rn > (#{pageNum} - 1) * #{amount}
	      ]]>
      
      </select>
      
      <select id="getMovieTotal" resultType="int">
      
          select count(*) from movie
          
          <if test="keyword != null">
          
             where movieTitle like '%' || #{keyword} || '%'
          
          </if>
          
      </select>

	  <!-- 영화 상세 페이지 -->
	  <select id="getMovieDetail" resultType="com.mvp.model.MovieVO">

		  select movieId, movieTitle, poster, movieContent, movieUrl,
		      cate1, cate2, movieCheck, buyPrice, rentalPrice, movieDate
		      from movie where movieId = #{movieId}

	  </select>
	  
	  <!-- 영화 수정 페이지 -->
	  <update id="movieUpdate" parameterType="com.mvp.model.MovieVO">
	      update movie set movieTitle = #{movieTitle}, poster = #{poster}, movieContent = #{movieContent},
	                    movieUrl = #{movieUrl}, cate1 = #{cate1}, cate2 = #{cate2},
	                    movieCheck = #{movieCheck}, buyPrice = #{buyPrice}, rentalPrice = #{rentalPrice},
	                    movieDate = #{movieDate} where movieId = #{movieId}

	  </update>
	  
	  <!-- 영화 삭제 -->
	  <delete id="movieDelete" parameterType="com.mvp.model.MovieVO">
	      delete movie where movieId = #{movieId}
	  </delete>


</mapper>