<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mvp.mapper.AdminPurchaseMapper">
	
	<!-- 관리자 개별 구매/대여 관리 리스트 출력-->
	<select id="adminSelectPurchaseList" resultType="com.mvp.model.PurchaseViewVO">
		<![CDATA[
			SELECT * FROM(
			    SELECT /*+ INDEX_DESC(purchase SYS_C008544)*/ ROWNUM AS rn, id, userId, movieId,
			    (SELECT movieTitle FROM movie WHERE movie.movieId=purchase.movieId) movieName,
			    startDate, expiredDate,rentalPrice, buyPrice
			    FROM purchase
			    WHERE 
			]]>         
            <if test="keyword != null">
                userId LIKE '%'||#{keyword}||'%' AND
            </if>
            
	      <![CDATA[        
	             rownum <= #{pageNum} * #{amount}
	            )
	        where rn > (#{pageNum} - 1) * #{amount}
	      ]]>
	</select>
	
	<!-- 구매 내역 cri 토탈 계산 -->
	<select id="boardGetTotal" resultType="int">
		SELECT COUNT(*) FROM purchase
		<if test="keyword !=null">
			WHERE userId LIKE '%'|| #{keyword} || '%' 
		</if>
	</select>
	
	<!-- 관리자 구독 내역 리스트 출력 -->
	<select id="adminSelectSubscribeList" resultType="com.mvp.model.PurchaseViewVO">
		<![CDATA[
			SELECT * FROM(
			    SELECT /*+ INDEX_DESC(SUBSCRIBEPAYMENT SYS_C008545)*/ ROWNUM AS rn, id, userId,
			    goods, subscribePrice, startDate, expiredDate
			    FROM SUBSCRIBEPAYMENT
			    WHERE
			]]>         
            <if test="keyword != null">
                userId LIKE '%'||#{keyword}||'%' AND
            </if>
            
	      <![CDATA[        
	             rownum <= #{pageNum} * #{amount}
	            )
	        where rn > (#{pageNum} - 1) * #{amount}
	      ]]>
	</select>
	
	<!-- 관리자 구독 내역 cri 토탈 계산 -->
	<select id="subscribeGetTotal" resultType="int">
		SELECT COUNT(*) FROM SUBSCRIBEPAYMENT
		<if test="keyword !=null">
			WHERE userId LIKE '%'|| #{keyword} || '%' 
		</if>
	</select>
	
	<!-- 관리자 환불 전단계 1.영화 구매 정보 불러오기 -->
	<select id="adminSelectPurchaseDetail" resultType="com.mvp.model.PurchaseViewVO">
		<![CDATA[
			SELECT /*+ INDEX_DESC(purchase SYS_C008544)*/ ROWNUM AS rn, id, userId, movieId,
				(SELECT movieTitle FROM movie WHERE movie.movieId=purchase.movieId) movieName,
			startDate, expiredDate,rentalPrice, buyPrice
			FROM purchase where id=#{id}
		]]>         
	
	</select>
	
	<!-- 관리자 환불 2. 환불 신청에 insert -->
	<insert id="adminRefundInsert">
		INSERT INTO refund (id, refundPrice, userId, refundStatus) 
		values(#{id}, #{refundPrice}, #{userId}, '환불신청')
	
	</insert>
	
	
	
	
  </mapper>