<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mvp.mapper.MemberMapper">

	<!-- 회원가입 -->
	<insert id="memberJoin">
		insert into member values(#{userId}, #{upw}, #{ubirth}, 1)
	</insert>

	<!-- 로그인 -->
	<select id="memberLogin" resultType="com.mvp.model.MemberVO">
		 select userId, upw, ubirth, ugrade from member where userId = #{userId} 
	</select>
	
	<!-- 마이페이지 -->
	<select id="memberGetDetail" resultType="com.mvp.model.MemberVO">
		select * from member where userId = #{userId}
	</select>
	
	  <!-- 구독권 구매시 회원 등급 업데이트 -->
    <update id="updateMemberGrade" parameterType="com.mvp.model.MemberVO" >
        UPDATE member SET ugrade = #{ugrade} WHERE userId = #{userId}
    </update>
    
	<!-- 개인 별점 영화, 별점순 정렬, 개봉일순 정렬 -->
  	<select id="getUserRatingList" resultType="com.mvp.model.MovieVO">
		SELECT /*+INDEX_DESC(movie SYS_C008625) */ m.movieId, m.movieTitle,r.rating, m.cate1,m.cate2, m.movieDate, m.movieCheck, m.poster
		FROM movie m
		JOIN rating r
		ON m.movieId =  r.movieId
	    WHERE r.userId = #{userId} 
	    ORDER BY r.rating desc, m.movieDate desc
  	</select> 
  	
  	<!-- 개인 위시리스트 출력 -->
  	<select id="getUserWishList" resultType="com.mvp.model.MovieVO">
	  	SELECT /*+INDEX_DESC(movie SYS_C008625) */ m.movieId, m.movieTitle, m.cate1,m.cate2, m.movieDate, m.movieCheck, m.poster 
		FROM movie m
		JOIN wishList w
		ON m.movieId =  w.movieId
	    WHERE w.userId = #{userId} 
	    ORDER BY w.regDate, m.movieDate desc
  	</select> 
  	
  </mapper>