<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mvp.mapper.MovieMapper">

	<!-- 개별 구매
	<select id="movieGetDetail" resultType="com.mvp.model.MovieVO">
		 select movieId, poster, movieTitle, movieDate, cate1, cate2, buyPrice, rentalPrice from movie where movieId = #{movieId} 
	</select> -->
  
  	
  	<!-- 영화 리스트 -->
  	<select id="getMovieList" resultType="com.mvp.model.MovieVO">
  		select * from movie
  	</select>
  
  
  	<!-- 영화 조회 -->
	<select id="movieGetDetail" resultType="com.mvp.model.MovieVO">
		select movieId, movieTitle, poster, movieContent, 
		movieDate, movieCheck, cate1, cate2, buyPrice, rentalPrice
		movieUrl, (select sum(rating) / count(*) from rating where movieId = #{movieId})
		from movie where movieId = #{movieId}	
	</select>
	
	<!-- 영화 정보 받아오기 -->
	<select id="movieGetInfo" resultType="com.mvp.model.MovieVO" >
	</select>
	
  </mapper>