<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mvp.mapper.MovieMapper">

	<!-- 개별 구매-->
	<select id="movieBuyDetail" resultType="com.mvp.model.MovieVO">
		 select movieId, poster, movieTitle, movieDate, cate1, cate2, buyPrice, rentalPrice from movie where movieId = #{movieId} 
	</select> 
  
  	
  	<!-- 영화 리스트 -->
  	<select id="getMovieList" resultType="com.mvp.model.MovieVO">
  		select * from movie
  	</select>
  	
  	<!-- 영화 조회 -->
  	<select id="movieGetDetail" resultType="com.mvp.model.MovieVO">
  	SELECT m.movieId, m.movieTitle, m.poster, m.movieContent,
	m.movieDate, m.movieCheck, m.cate1, m.cate2, m.buyPrice, m.rentalPrice,
	m.movieUrl, avg_rating.average_rating AS rating
  	FROM movie m
  	LEFT JOIN (
  	SELECT movieId, AVG(rating) AS average_rating FROM rating GROUP BY movieId)
  	avg_rating ON m.movieId = avg_rating.movieId where m.movieId = #{movieId}
  	</select>
  	
  	<!-- 영화 조회
	<select id="movieGetDetail" resultType="com.mvp.model.MovieVO">
		SELECT m.movieId, m.movieTitle, m.poster, m.movieContent,
		m.movieDate, m.movieCheck, m.cate1, m.cate2, m.buyPrice, m.rentalPrice,
		m.movieUrl, NVL(avg_rating.average_rating, 0) AS rating
        FROM movie m LEFT JOIN (
        SELECT movieId, AVG(rating) AS average_rating
        FROM rating
        GROUP BY movieId
        ) avg_rating ON m.movieId = avg_rating.movieId
        WHERE m.movieId = #{movieId}
	</select>  -->
	
	
  </mapper>