<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mvp.mapper.PurchaseMapper">
  	
  	<!-- 개별 구매 주문 처리 -->
  	<select id="getBuyInfo" resultType="com.mvp.model.PurchaseVO">
		select userId, movieId, buyPrice,rentalPrice from purchase where movieId = #{movieId}
	</select>
	
	<!-- 개별 구매(소장용) purchase 테이블에 등록 -->
	
	<insert id="enrollPurchase_1">	
		insert into purchase(userId, movieId, buyPrice) values(#{userId}, #{movieId}, #{buyPrice})
	</insert>
	
	<!-- 개별 구매(대여용) purchase 테이블에 등록 -->
	<insert id="enrollPurchase_2">
		insert into purchase(userId, movieId, rentalPrice, expiredDate) values(#{userId}, #{movieId}, #{rentalPrice}, sysdate +7)
	</insert>
	
  </mapper>