@charset "UTF-8";
@import url(basic/style.css);  
*{
	margin:0;
	padding:0;
	background-color: #000000;
}

a {
	text-decoration: none;
}
li{
	list-style: none;
}
h1 {
	color: #ffffff;
	font-size: 50px;
	font-weight: 600;
}
#container{
	width:100%;
	min-width: 1920px;
	height:100%;
	background-color: #000000;
	margin: 0 auto;
}


/*메인*/
.main_content{
	width: 1900px;
	height: 100%;
	display:flex;
	flex-direction:column;
	padding:86px 0 0 240px;
}
.show_list {
	padding-bottom: 32px;
	margin: 0 auto;
}
h1.list_name {
	display: flex;
	font-size: 45px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-left: 10px;
	justify-content: flex-start;
	align-items: center;
	color: #ffffff;
}
section.list {
	width: 1620px;
	margin: 30px 30px;
}
.swiper-container {
	width: 1620px;
	
}
.swiper-wrapper {
	display: flex;
	transform: translate(0,0);
}
.swiper-slide {
	flex: 0 0 100%;
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
}
.swiper-slide ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 0 25px;
}

img.poster {
	width: 220px;
	height:350px;
	display: block;
	position: relative;
	padding-bottom: 8px;
	object-fit:cover;
}
li.subject {
	overflow: hidden;
	display: block;
	width: 100%;
	padding: 5px 0 0 1px;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
}
li.iinn {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}
img.star_rate {
	width:20px;
	height: auto;
	vertical-align: middle;
}
li.iinn span {
	color: #ffffff;
	line-height: 20px;
	font-size: 16px;
	font-weight: 400;
	padding-right: 12px;
}
.r, .c {
	font-sizes: 17px;
	font-weight: 600;
	margin-left: 5px;
}


.swiper-slide-active,
.swiper-slide-active + .swiper-slide,
.swiper-slide-active + .swiper-slide + .swiper-slide,
.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {
	opacity:1;
	}
