@charset "UTF-8";
@import url(basic/style.css);  
*{
	margin:0;
	padding:0;
}

a {
	text-decoration: none;
}
li{
	list-style: none;
}
h1 {
	color: #ffffff;
	font-size: 50px;
	font-weight: 600;
}
#container{
	width: 1900px;
	background-color: #000000;
}

.inlineBlock {
	display: inline-block;
}


/*메인*/
.main_content{
	width: 1900px;
	height: 100%;
	display:flex;
	flex-direction:column;
	padding:86px 0 0 240px;
	margin: 0 auto;
	color: white;
}

/* 리뷰쓰기 버튼 */
  .reply_button_wrap{
  	padding : 10px;
  }
  .reply_button_wrap button{
	background-color: #f82f62;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 5px 12px;
    cursor: pointer;  
    border-radius: 6px;
  }
  
  /* 리뷰 영역 */
  	.content_bottom{
  		width: 40%;
  		margin : auto;
  	}
	.reply_content_ul{
		list-style: none;
	}
	.comment_wrap{
		position: relative;
    	border-bottom: 1px solid #d4d4d4;
    	padding: 14px 0 10px 0;	
    	font-size: 12px;
	}
		/* 리뷰 머리 부분 */
		.reply_top{
			padding-bottom: 10px;
		}
		.id_span{
			padding: 0 15px 0 3px;
		    font-weight: bold;		
		}
		.date_span{
			padding: 0 15px 0;
		}
		/* 리뷰 컨텐트 부분 */
		.reply_bottom{
			padding-bottom: 10px;
		}
		
	
	/* 리뷰 선 */
	.reply_line{
		width : 20%;
		margin : auto;
		border-top:1px solid #c6c6cf;  	
	}
	
	/* 리뷰 제목 */
	.reply_subject h2{
		padding: 15px 0 5px 5px;
	}
	
	/* pageMaker */
	.repy_pageInfo_div{
		text-align: center;
	    margin-top: 30px;
	    margin-bottom: 40px;	
	}
	.pageMaker{
	    list-style: none;
	    display: inline-block;	
	}
	.pageMaker_btn{
		float: left;
	    width: 25px;
	    height: 25px;
	    line-height: 25px;
	    margin-left: 20px;
	    font-size: 10px;
	    cursor: pointer;
	}
	.active{
		border : 2px solid black;
		font-weight:400;	
	}
	.next, .prev {
	    border: 1px solid #ccc;
	    padding: 0 10px;
	}	
  
  /* 리뷰 없는 경우 div */
  .reply_not_div{
  	text-align: center;
  }
  .reply_not_div span{
	display: block;
    margin-top: 30px;
    margin-bottom: 20px; 
  }
  
  /* 리뷰 수정 삭제 버튼 */
  .update_reply_btn{
 	font-weight: bold;
    background-color: #f82f62;
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin: 0 5px 0 30px;
    border-radius: 6px;
    color: white; 
    cursor: pointer;
  }
  .delete_reply_btn{
 	font-weight: bold;
    background-color: #e7578f;
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    border-radius: 6px;
    color: white; 
  	cursor: pointer;
  }

  
  /* 포스터 영역 */
  .posterFrame{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 20px;
    @media screen and (max-width: 48em) {
        margin-top:40px;
        margin-top:0}
  }

  .poster{
   padding-left: 15px;
   padding-bottom: 10px;
  }
  /*  
  .moviePoster{
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%
  }*/
  
  /*링크 짙은 파랑색*/
  .qboard_area a:link{color: #3065ac;}
  .qboard_area a:visited{color: #3065ac;}
  
  
  /* iframe 영역*/
  
  /* ul li 영역 */
 .lavel{
  	display: inline;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    color: gray;
    padding-bottom: 10px;
    padding-left: 5px;
    font: bold;
    }
    
    
/* 제목 */
.movieTitle{
	margin-left : 5px;
	vertical-align: top;
	padding-bottom: 15px;
}    

/* 영화 줄거리 */
.movieContent{
	width : max-content;
	max-width : 25%;
	word-break : keep-all;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 5px;
	letter-spacing: 0.1em;
	word-spacing: 0.1em;
	line-height: 1.2em;
}

/* 영화 정보 */
.textArea_movieInfo {
	padding-left: 10px;
	padding-bottom: 10px;
	position: absolute;
	left : 19.5%;
	top: 35%;
}

/* 버튼 */
.buttons {
	padding-left: 5px;
	padding-bottom: 10px;
}

/* 리뷰 영역 */
.replyArea {
	padding-left: 15px;
}
